<div class="profile-content container bg-light mt-5">

    <div class="navbar-container container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Bitmap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Discover</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form action="/profile" method="GET" class="form-inline search-form my-2 my-lg-0">
                    <input id="user-search" class="form-control mr-sm-2" name="user" type="text" placeholder="search">
                    <button id="search-btn" class="btn btn-outline-success my-2 my-sm-0 " value="searched"
                        type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="name-container container d-flex justify-content-center">
        <div class="userName">{{user.username}}</div>
    </div>
    <div class="profile-img-container container">
        <img class="userImg" src="{{user.profileImage}}" alt="profile img">
    </div>

    <div class="social-icons container">
        <div class="social-buttons text-center mb-3">
            <a href="https://www.facebook.com/Kickerz22/" target="none"><button style="font-size: 2em"
                    class="fab fa-facebook-square btn-lg mr-2"></button></a>
            <a href="https://github.com/Kicker22?tab=repositories" target="none"> <button style="font-size: 2em"
                    class="fab fa-github-square btn-light btn-lg mr-2"></button></a>
            <a href="https://www.twitch.tv/kicker_22" target="none"><button style="font-size: 2em"
                    class="fab fa-twitch btn-lg mr-2"></button></a>
            <button style="font-size: 2em" class="fab fa-twitter-square btn-primary btn-lg mr-2"></button>
            <a href="https://www.youtube.com/channel/UCtiytt_y1p_HFePawqDXHWQ?view_as=subscriber" target="none"> <button
                    style="font-size: 2em" class="fab fa-youtube-square btn-danger btn-lg mr-2"></button></a>
            <a href="https://www.instagram.com/kicker.22/" target="none"><button style="font-size: 2em"
                    class="fab fa-instagram btn-lg mr-2"></button></a>
            <button style="font-size: 2em" class="fab fa-linkedin btn-lg mr-2"></button>
        </div>
    </div>

    <div class="bio-container container text-center d-flex justify-content-center mt-3 mb-3">
        <div class="bio">{{user.bio}}</div>
    </div>

    <div class="profile-body mb-3 container">
        <img class="userImg" src="{{user.galleryImage1}}" alt="profeile img">
        <img class="userImg" src="{{user.galleryImage2}}" alt="profeile img">
        <img class="userImg" src="{{user.galleryImage3}}" alt="profeile img">

    </div>
</div>
